always-auth=true
@gsap:registry=https://npm.greensock.com/
//npm.greensock.com/:_authToken=3ff18a9a-390c-49ab-80ea-c68669234096
# npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
# npm publish
save-exact=true
