[data-slice-zone-todo-component] {
  display: none;
}

.font-outline-2 {
  -webkit-text-stroke: 2px white;
}
.font-outline-4 {
  -webkit-text-stroke: 6px white;
}

.sliderDepoimento .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.sliderDepoimento .swiper-slide-active {
  opacity: 1;
}
.fotoInstagram__item {
  display: none;
}
.fotoInstagram__item:nth-child(-n + 6) {
  display: block;
}

.textLong p {
  margin-bottom: 1rem;
}

.textLong p:last-child {
  margin-bottom: 0;
}

.textLong a {
  color: #60b5e4;
  text-decoration: underline;
}

.textLong a:hover {
  color: #f7875f;
  text-decoration: none;
}

.textLong strong {
  font-weight: 700;
}

.swiper-button-disabled {
  opacity: 0.3 !important;
  cursor: auto !important;
}
